.template-shadow{
    box-shadow: rgb(74, 74, 74) 0px 0px 5px;
}
#templatesList .card:hover{
    transition: all 100ms ease-in;
    transform: scale(1.05);
    cursor: pointer;
    z-index: 2;
}

.selected-template {
    position: relative; 
    padding-bottom: 54.25%;
}

.template-text{
    position: absolute;
    left:50%;
    top:50%;
    line-height: 1;
    transform: translate(-50%,-50%);
}